<form class="needs-validation" novalidate [formGroup]="form">

  <h1>Cadastro</h1>

  <label for="nome">Nome:</label>
  <input
    type="text"
    name="nome"
    id="nome"
    formControlName="nome"
    placeholder="Nome"
    [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
  />

  <label for="sobrenome">Sobrenome: </label>
  <input
    type="text"
    name="sobrenome"
    id="sobrenome"
    formControlName="sobreNome"
    placeholder="sobreNome"
    [ngClass]="{ 'is-invalid': submitted && hasError('sobreNome') }"
  />

  <label for="senha">Senha:</label>
  <input
    type="password"
    name="senha"
    id="senha"
    formControlName="senha"
    placeholder="senha"
    [ngClass]="{ 'is-invalid': submitted && hasError('senha') }"
  />

  <label for="cpfCnpj">CpfCnpj:</label>
  <input
    type="number"
    name="cpfCnpj"
    id="cpfCnpj"
    formControlName="cpfCnpj"
    placeholder="cpf/Cnpj"
    [ngClass]="{ 'is-invalid': submitted && hasError('cpfCnpj') }"
  />

  <label for="razaoSocial">RazaoSocial:</label>
  <input
    type="text"
    name="razaoSocial"
    id="razaoSocial"
    formControlName="razaoSocial"
    placeholder="razão social"
    [ngClass]="{ 'is-invalid': submitted && hasError('razaoSocial') }"
  />

  <label for="dtNascFnd">Data de Fundação: </label>
  <input
    type="date"
    name="dtNascFund"
    id="dtNascFund"
    formControlName="dtNascFund"
    placeholder="Data de Fundação"
    [ngClass]="{ 'is-invalid': submitted && hasError('dtNascFund') }"
  />

  <label for="dtCriacao">Data de criação: </label>
  <input
    type="date"
    name="dtCriacao"
    id="dtCriacao"
    formControlName="dtCriacao"
    placeholder="data de criação"
    [ngClass]="{ 'is-invalid': submitted && hasError('dtCriacao') }"
  />

  <button type="submit" class="btn-enviar" (click)="onSubmit()">Enviar</button>
  <button type="button" class="btn-cancelar" (click)="onCancel()">
    Cancelar
  </button>
</form>
