<form action="" method="get">
  <h1>Cadastro</h1>

  <label for="nome">Nome:
    <input type="text" name="nome" id="nome">
  </label>
  
  <label for="sobrenome">Sobrenome:
    <input type="text" name="sobrenome" id="sobrenome">
  </label>

  <label for="senha">Senha:
    <input type="text" name="senha" id="senha">
  </label>

  <label for="cpfCnpj">CpfCnpj:
    <input type="number" name="cpfCnpj" id="cpfCnpj">
  </label>

  <label for="razaoSocial">RazaoSocial:
    <input type="text" name="razaoSocial" id="razaoSocial">
  </label>

  <label for="dtNascFund">Data Nascimento/Fundação:
    <input type="date" name="dtNascFund" id="dtNascFund">
  </label>

  <label for="dtCriacao">Data Criação:
    <input type="date" name="dtCriacao" id="dtCriacao"> 
  </label>

  <button (click)="ngOnInit()">Enviar</button>
</form> 