<h2>Logar</h2>


<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-grup">
    <label for="cpfCnpj">cpf/Cnpj:</label>
    <input
      type="number"
      name="cpfCnpj"
      id="cpfCnpj"
      placeholder="cpfCnpj"
      [(ngModel)]="login.cpfCnpj" required
      />
  </div>

  <div class="form-group">
     <label for="senha">Senha: </label>
      <input
        type="password"
        name="senha"
        id="senha"
        placeholder="senha"
        [(ngModel)]="login.senha" required
        />
  </div>
  <button type="submite" class="btn btn-primario" [disabled]="form.form.invalid">Logar</button>
  <button type="button" class="btn btn-link" [routerLink]="['/cadastro']">Criar conta</button>
</form>