*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    margin: 20px;
    border-bottom: 1.5px solid rgba(105, 105, 105, 0.568);
    justify-content: center;
}

td,
th {
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    color: #fff;
    border-top-left-radius: 7px;
    background-color: #696969;
    border-top-right-radius: 7px;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    font-size: 17pt;
    caption-side: bottom;
    font-family: sans-serif;
}

table {
    font-size: .8rem;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 2px solid rgb(200, 200, 200);
}
