<p>
  documento-componentes works!
</p>

<caption>Documento</caption>

<table>
  <caption>Documento</caption>
  <tr>
      <th scope="col">ID de Documento:</th>
      <th scope="col">ID de Cadastro:</th>
      <th scope="col">Tipo:</th>
      <th scope="col">Número:</th>
      <th scope="col">Digito:</th>
      <th scope="col">Data de Expedição:</th>
      <th scope="col">Data de Validade:</th>
      <th scope="col">Emissor:</th>
  </tr>
  <tr *ngFor="let reg of registros">
    <td>{{reg.idDoc}}</td>
    <td>{{reg.idCad}}</td>
    <td>{{reg.tipo}}</td>
    <td>{{reg.numero}}</td>
    <td>{{reg.digito}}</td>
    <td>{{reg.dtExp}}</td>
    <td>{{reg.dtValidade}}</td>
    <td>{{reg.emissor}}</td>
  </tr>
</table>
